html, body {
    background-color: #f9f9f9;
}

.logo-img {
    height: 200px;
    width: 200px;
}

.col-radius-form {
    border-radius: 6px;
    padding: 20px;
    border: 2px solid #e2e2e2;
}

.col-radius-reg {
    border-radius: 6px;
    border: 2px solid #e2e2e2;
}

button {
    font-size: 220px;
}

.no-ac-text {
    font-size: 22px;
    margin: 1em;
}
