.col-main-block {
    padding: 15px !important;
}

.post-block-content {
    cursor: pointer;
}

.post-title {
    margin: 0;
    padding: 8px;
}

.post-login {
    transition: .3s;
}

.post-block-content:hover .post-login {
    color: #F35B5B;
    transition: .3s;
}

.main-img {
    transition: .3s;
}

.post-block-content:hover .main-img {
    transition: .3s;
    box-shadow: 0 0 8px rgb(33, 33, 33);
}

.post-like {
    text-align: center;
    cursor: pointer;
    word-break: break-word;
    padding: 4px;
}

.post-like:hover {
    background-color: var(--like-background);
}

.post-dislike {
    text-align: center;
    cursor: pointer;
    word-break: break-word;
    padding: 4px;
}

.post-dislike:hover {
    background-color: var(--dislike-background);
}

.like {
    background-color: var(--like-background);
}

.dislike {
    background-color: var(--dislike-background);
}

.likes-img {
    margin-top: -4px;
}
