.col-main-block {
    padding: 15px !important;
}

.post-block {
    cursor: pointer;
}

.post-head-elem {
    padding: 8px;
}

.post-create-date {
    color: #7B7B7B;
}

.post-login {
    transition: .3s;
}

.post-block:hover .post-login {
    color: #F35B5B;
    transition: .3s;
}

.main-img {
    transition: .3s;
}

.post-block:hover .main-img {
    transition: .3s;
    box-shadow: 0 0 8px rgb(33, 33, 33);
}

.post-like {
    margin-right: 4px;
    text-align: center;
    cursor: pointer;
    word-break: break-word;
    padding: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.post-like:hover {
    background-color: var(--like-background);
}

.post-dislike {
    margin-left: 4px;
    text-align: center;
    cursor: pointer;
    word-break: break-word;
    padding: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.post-dislike:hover {
    background-color: var(--dislike-background);
}

.like {
    background-color: var(--like-background);
}

.dislike {
    background-color: var(--dislike-background);
}

.like-img {
    margin-top: -4px;
}

.descriptions-block {
    background-color: #F5F5F5;
}

.comments-block {
    max-height: 300px;
    overflow: auto;
}

.likes-and-text-input-block {
    background-color: #F5F5F5;
}

.modal-textarea {
    resize: none;
}
