.logo-img {
    width: 200px;
}

.col-radius-form {
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    border: 2px solid #e2e2e2;
    max-width: 400px;
}

.col-radius-reg {
    border-radius: 6px;
    border: 2px solid #e2e2e2;
    max-width: 400px;
    background-color: white;
}

.no-ac-text {
    font-size: 22px;
    margin: 1em;
}

.error-box {
    display: flex;
    justify-content: center;
}

.error-list {
    border-radius: 12px;
    border: 1px solid red;
}

.error-item {
    color: red;
    margin-right: 20px;
}
