@import url("header.css");
@import url("footer.css");

:root {

}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background: url("/template/images/website-background-blur.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

a {
    color: #008cfb;
    text-decoration: underline;
}

a:hover {
    color: #005ca9;
    text-decoration: none;
}

.container {
    border-radius: 10px;
    margin-top: 34px;
    background-color: rgba(249, 249, 249, 0.7);
    padding: 1rem;
}
