:root {
    --like-background: rgba(25, 199, 0, 0.5);
    --dislike-background: rgba(255, 40, 0, 0.5);
    --a-color: #008cfb;
    --a-color-hover: #005ca9;
    --cyan-border: #00afaf;
    --delete-color: #F35B5B;
}
